.root {
    -fx-background-color: linear-gradient(to bottom, #407A52, #335F40, #407A52);
    -fx-font-family: "Arial", sans-serif;
}

.progress-bar {
    -fx-accent: linear-gradient(to right, #FFD54F, #FFC107, #FFB300);
    -fx-padding: 2;
}

.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.vbox {
    -fx-background-color: #407A52;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 15, 0.0, 0, 10);
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(to right, #FFD54F, #FFC107, #FFB300);
    -fx-background-insets: 0, 0, 1;
}

.progress-bar > .track {
    -fx-background-color: #2E5945;
    -fx-background-insets: 0, 0, 1;
}
